@media screen and (max-width: 400px) {
  .container {
    width: 100%;
    box-sizing: border-box;
  }
  .text-content {
    padding: 10px;
  }
  .flex-box {
    flex-wrap: wrap;
  }
  header {
    padding: 10px;
    nav > a {
      padding: 0;
      padding-right: 5px;
    }
    margin: 0;
  }
  .mobile-hide {
    display: none;
  }
  .layer {
    position: relative;
  }
  img.bg {
    position: absolute;
  }
  #youshi {
    .list {
      flex-wrap: wrap;
      .item {
        width: 100%;
      }
    }
  }
  #yuanli {
    .image {
      width: 100%;
      margin: 0;
      img {
        width: 100%;
      }
    }
  }
  #baipishu {
    .content {
      padding: 10px;
      margin: 0;
    }
  }
  #hexin {
    background-color: #090909;
    .big.face-box {
      display: block;
      img {
        width: 80%;
        margin: 0 auto;
      }
    }
    .small {
      padding: 10px;
    }
  }
  .title {
    text-align: center;
  }
  #footer {
  
    .list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;      
      .item {
        margin-top: 1em;
      }
    }
  } 
  #women {
    .list {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;
      .item {
        display: block;
        img {
          display: block;
          margin: 0 auto;
        }
        .title {
          display: block;
          font-size: 14px;
        }
      }
    }
  }

  #guwen {
    .list {
      .item {
        width: 50%;
        display: block;
        text-align: center;
      }
    }
  }
  
}

